*{box-sizing: border-box;
padding: 0%;
margin: 0%;


}

header{text-align: center;
background-color: gold;}

main{
    color: gold;
    font-size: large;
    font-weight: 900;
    background-color: rgb(42, 37, 37);
}
footer{background-color: black;
font-size: large;
color: goldenrod;
height: 100%;



}
